ul.resources
  li
    img(src="images/01.png", alt="")
    .resource-info
      h2 title example
      a.button(href="#") view resource
      p.price $11
  li
    img(src="images/02.png", alt="")
    .resource-info
      h2 title example
      a.button(href="#") view resource
      p.price $11
  li
    img(src="images/03.png", alt="")
    .resource-info
      h2 title example
      a.button(href="#") view resource
      p.price $11
  li
    img(src="images/04.png", alt="")
    .resource-info
      h2 title example
      a.button(href="#") view resource
      p.price $11
  li
    img(src="images/08.png", alt="")
    .resource-info
      h2 title example
      a.button(href="#") view resource
      p.price $11
  li
    img(src="images/10.png", alt="")
    .resource-info
      h2 title example
      a.button(href="#") view resource
      p.price $11
  li
    img(src="images/14.png", alt="")
    .resource-info
      h2 title example
      a.button(href="#") view resource
      p.price $11
  li
    img(src="images/05.png", alt="")
    .resource-info
      h2 title example
      a.button(href="#") view resource
      p.price $11
  li
    img(src="images/07.png", alt="")
    .resource-info
      h2 title example
      a.button(href="#") view resource
      p.price $11
  li
    img(src="images/09.png", alt="")
    .resource-info
      h2 title example
      a.button(href="#") view resource
      p.price $11
  li
    img(src="images/15.png", alt="")
    .resource-info
      h2 title example
      a.button(href="#") view resource
      p.price $11
  li
    img(src="images/11.png", alt="")
    .resource-info
      h2 title example
      a.button(href="#") view resource
      p.price $11
  li
    img(src="images/13.png", alt="")
    .resource-info
      h2 title example
      a.button(href="#") view resource
      p.price $11
  li
    img(src="images/06.png", alt="")
    .resource-info
      h2 title example
      a.button(href="#") view resource
      p.price $11
  li
    img(src="images/12.png", alt="")
    .resource-info
      h2 title example
      a.button(href="#") view resource
      p.price $11
  li
    img(src="images/16.png", alt="")
    .resource-info
      h2 title example
      a.button(href="#") view resource
      p.price $11
