.banner
    .wrapper
      img(src="images/logo.svg", id='logo', alt="")
      //- h1
      //-   |  web resources
      //-   br
      //-   |  collection
      h1(id="title") Web Resources Collection
      
nav.nav
    .wrapper
        a(href="#") Popular
        a(href="#") Recent
        //- search bar
        label(for="search") Search
        input(type="search", id="search", placeholder='Iphone 7 Template')
    
